.add-button {
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  background-image: url("../../images/Vectorplus.png");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
}

.add-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) {
  .add-button {
    margin-top: 30px;
    background-size: 16px;
    width: 282px;
    height: 50px;
  }
}
@media screen and (min-width: 630px) {
  .add-button {
    margin-top: 0;
    background-size: 22px;
    width: 150px;
    height: 50px;
    align-self: center;
  }
}
